<div>
  <app-card class="flash-card"></app-card>
  <div class="buttons">
    <button mat-icon-button color="warn" class="button">
      <mat-icon>volume_off</mat-icon>
    </button>
    <button mat-icon-button color="warn" class="button">
      <mat-icon>volume_up</mat-icon>
    </button>
    <button mat-mini-fab color="primary" class="button">
      <mat-icon>navigate_before</mat-icon>
    </button>
    <button mat-mini-fab color="primary" class="button">
      <mat-icon>navigate_next</mat-icon>
    </button>
  </div>
</div>
