:host {
  display: block;
  height: 100%;
  overflow: hidden;
}

.flash-card {
  margin: 20px 10px;
  width: calc(100%-20px);
}

.buttons {
  margin: 2em 10px 0;
  display: flex;
  justify-content: flex-end;
}

.button {
  margin-left: 2em;
}
