<mat-card>
  <mat-card-header class="header">
    {{ currentCardIndex }} of {{ totalItems }}
  </mat-card-header>
  <mat-card-content>
    <h1 class="text">{{ cardTitle }}</h1>
  </mat-card-content>
  <mat-card-actions class="actions">
    <button mat-icon-button color="warn">
      <mat-icon>call_received</mat-icon>
    </button>
    <button mat-icon-button color="primary"><mat-icon>check</mat-icon></button>
    <button mat-icon-button (click)="onToggleCard()">
      <mat-icon>flip</mat-icon>
    </button>
    <div class="play-btn-group">
      <div class="play-btn-sub-group">
        <button
          (click)="onPlay(0, 'normal')"
          mat-icon-button
          color="warn"
          class="play-btn"
        >
          <mat-icon>play_circle_filled</mat-icon>
        </button>
        <button
          (click)="onPlay(0, 'slow')"
          mat-icon-button
          color="warn"
          class="play-btn"
        >
          <mat-icon>play_circle_outline</mat-icon>
        </button>
      </div>
      <div class="play-btn-sub-group">
        <button
          (click)="onPlay(1, 'normal')"
          mat-icon-button
          color="primary"
          class="play-btn"
        >
          <mat-icon>play_circle_filled</mat-icon>
        </button>
        <button
          (click)="onPlay(1, 'slow')"
          mat-icon-button
          color="primary"
          class="play-btn"
        >
          <mat-icon>play_circle_outline</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-actions>
</mat-card>
