<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button (click)="onToggleDrawer()" class="menu-icon">
    <mat-icon *ngIf="!isDrawerOpen">menu</mat-icon>
    <mat-icon *ngIf="isDrawerOpen">highlight_off</mat-icon>
  </button>
  <h1>{{ title }}</h1>
</mat-toolbar>

<mat-drawer-container class="drawer-container">
  <mat-drawer mode="side" [opened]="isDrawerOpen">
    <app-navigation></app-navigation>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
